<div class="card-project">
  <img src="{{ '/assets/images/projects/project-adventures.png' | relative_url }}" alt="Ruby's Adventures in Codeland">
  <div class="card-content">
    <h4>Ruby's Adventures in Codeland</h4>
    <p>An online game to teach children basic Ruby commands. The game engine is in <strong>JavaScript ES6</strong> with
    the back-end in <strong>Ruby on Rails.</strong></p>
    <p>Project developed by 4 people during Le Wagon bootcamp.</p>
    <a href="https://github.com/pmkihara/adventures_in_codeland" class="btn-capsule-gradient-pink">GitHub</a>
    <a href="https://adventures-in-codeland.herokuapp.com/" class="btn-capsule-gradient-pink">Live</a>
  </div>
</div>
