<div class="card-project">
  <img src="{{ '/assets/images/projects/project-react-hamming.png' | relative_url }}" alt="Hamming Distance Calculator">
  <div class="card-content">
    <h4>Hamming Distance Calculator</h4>
    <p>Application to sort a string of numbers, sort them in crescent order and calculate the Hamming Distance.
    <p>Developed in <strong>React</strong> with charts in <strong>ChartJS</strong>.</p>
    <a href="https://github.com/pmkihara/rails-watch-list" class="btn-capsule-gradient-pink" target="_blank">GitHub</a>
    <a href="https://pop-a-corn.herokuapp.com/" class="btn-capsule-gradient-pink" target="_blank">Live</a>
  </div>
</div>
