<div class="card-project">
  <img src="{{ '/assets/images/projects/project-translapp.png' | relative_url }}" alt="Translapp">
  <div class="card-content">
    <h4>Translapp</h4>
    <p>A marketplace application developed in <strong>Ruby on Rails</strong> to connect people in need of translation services with translators.</p>
    <p>Project developed by 4 people during Le Wagon bootcamp.</p>
    <a href="https://github.com/pmkihara/translapp" class="btn-capsule-gradient-pink">GitHub</a>
    <a href="https://translapp.herokuapp.com/" class="btn-capsule-gradient-pink">Live</a>
  </div>
</div>
