<div class="card-project">
  <img src="{{ '/assets/images/projects/project-watchlist.png' | relative_url }}" alt="Pop-a-Corn Watchlist">
  <div class="card-content">
    <h4>Pop-a-Corn Watchlist</h4>
    <p>Application to create movie watch lists with the user's comments. Developed in <strong>Ruby on Rails</strong> with movie details provided by an API.
    <p>Project developed during Le Wagon bootcamp.</p>
    <a href="https://github.com/pmkihara/rails-watch-list" class="btn-capsule-gradient-pink" target="_blank">GitHub</a>
    <a href="https://rails-watch-list-53m3.onrender.com/" class="btn-capsule-gradient-pink" target="_blank">Live</a>
  </div>
</div>
