<div class="content" id="content-about">
  <div class="container-flex">
    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Profile picture">
    <div>
      <small class="sub-header">Discover</small>
      <h1>About Me</h1>
      <div class="divider-line"></div>
      <p>My name is Patricia Mey Kihara. I am a Full-Stack Web Developer based in São Paulo, Brazil.</p>
      <p>My career path is a bit out-of-ordinary: after graduating from Law School, I felt frustrated by the lack of creative thinking. This is why I got into the  Fashion industry, where I worked for 6 years as an Apparel and Accessories Designer. However, disheartened by the lack of a career path and intellectual stimulus, I decided it was time to challenge myself with something new.</p>
      <p>As a person passionate about solving problems, learning and creating, I finally found something I love doing: programming. Thanks to my previous experiences, I have developed an analytical yet creative mindset that is team-oriented and attentive to detail.</p>
      <p>I believe strong foundations with visually pleasant user experiences are the key to developing successful products and a better world.</p>
    </div>
  </div>
</div>
