<div class="content" id="content-contact">
  <div>
    <small class="sub-header">Get in touch</small>
    <h1>Contact Me</h1>
    <div class="divider-line"></div>
    <p class="contact-icons">
      <a href="https://www.linkedin.com/in/patricia-kihara-5828a2213/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/pmkihara" target="_blank"><i class="fab fa-github"></i></a>
    </p>
    <div>
      <form action="https://formspree.io/f/xayvjljk" method="POST">
        <div class="input-container">
          <input type="fullname" name="fullname" placeholder=" ">
          <label>Full name</label>
        </div>
        <div class="input-container">
          <input type="email" name="email" placeholder=" ">
          <label>Email</label>
        </div>
        <div class="input-container">
          <input type="subject" name="subject" placeholder=" ">
          <label>Subject</label>
        </div>
        <div class="input-container">
          <textarea name="message" placeholder=" "></textarea>
          <label>Message</label>
        </div>
        <button type="submit" class="btn-capsule-gradient-pink">Send</button>
      </form>
    </div>
  </div>
</div>
