// Fonts
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Maitree:wght@400;600;700&family=Urbanist:wght@400;700;900&display=swap');
$headers-font: 'Maitree', serif;
$body-font: 'Urbanist', sans-serif;
$title-font: 'Forum', cursive;

// Screen width sizes for responsivity
$extra-small: 36em; // 576px
$small: 48em;       // 768px
$medium: 62em;      // 992px
$large: 75em;       // 1200px
$extra-large: 90em; // 1440px

// Colors
$black: #292929;
$white: #FFFFFF;
$rosy-pink: #CD8E8E;
$medium-pink: #E3BFBF;
$medium-pink-text: #BB5A5A;
$light-pink: #F2E3DE;
