.contact-icons a {
  color: $rosy-pink;
  font-size: 2rem;
  margin-right: 0.5rem;
  &:hover {
    color: $medium-pink;
  }
}
#content-contact {
  display: flex;
  justify-content: center;
  & > div {
    height: fit-content;
    padding: 2rem;
  }
}
