.contact-icons a {
  color: $rosy-pink;
  font-size: 2rem;
  margin-right: 0.5rem;
  &:hover {
    color: $medium-pink;
  }
}
#content-contact {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
