.btn-capsule-gradient-pink {
  background: $rosy-pink;
  border: 0;
  border-radius: 2rem;
  color: $white;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  transition: all .2s ease-in;
  &:hover {
    background: $medium-pink;
    color: $medium-pink-text;
  }
}
