// -------------------------------- CONTAINERS ---------------------------------
// Background container
.main-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
// Full container
.container {
  background-color: $light-pink;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.content {
  display: block;
  flex-grow: 0;
  height: 0%;
  opacity: 0;
  overflow-y: auto;
  padding: 0;
  transition: all .5s ease, opacity .0s ease .5s, display .0s ease .5s;
  width: 100%;
  z-index: -1;
}
.content.active {
  flex-grow: 1;
  background-color: $white;
  opacity: 1;
  width: 100%;
  z-index: 0;
}

// Sets container for bigger screens
@media (min-width: $medium) {
  .container {
    flex-direction: row;
    height: 80%;
    max-width: $medium;
    overflow: hidden;
  }
  .content {
    width: 0%;
    height: initial;
  }
  .content.active {
    padding: 2rem;
  }
}
